.App {
  margin: -20px auto;
  background: #282c34;
  background-size: auto;
  opacity: 0.9;
}
.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aliceblue;
}

.App .Shecodes,
.App .Github {
  color: lightcyan;
  text-decoration: none;
}
.App main {
  margin: 30px auto;
  display: block;
}
.App footer {
  text-align: center;
  font-size: 13px;
  margin: 10px 0;
  color: beige;
  padding-bottom: 12%;
}
.Weatherlist ul {
  list-style: none;
  line-height: 45px;
}

.Search {
  padding-top: 3px;
  padding-bottom: 3px;
}
